:root {
  --sourcey-primary: #334155;
  --sourcey-primary-light: #64748b;
  --sourcey-primary-dark: #1e293b;
}

header img {
  border-radius: 0.35rem;
}

a:hover {
  color: var(--sourcey-primary-light);
}
